<!DOCTYPE html>
<html ng-app="task">
  <head>
    <meta charset="utf-8">
    <title>EmpeekTask</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="" ng-controller="NavController as navCtrl">
      <nav>
        <div class="nav">
        <h2>Main</h2>
        <side-nav></side-nav>
        </div>
      </nav>
      <div class="panel" ng-show="navCtrl.isSelected(1)">
        <div class="items" ng-controller="ItemsController as itemsCtrl">
          <h2>Items</h2>
          <!-- Adding new elements -->
          <form name="addingItemForm" ng-submit=" addingItemForm.$valid && itemsCtrl.addItem()" novalidate>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type name here..." ng-model="itemsCtrl.element" required>
              <button class="btn btn-default" type="submit" >Add new</button>
            </div>
          </form>
          <!-- List of items -->
          <div class="clearfix">
            <div  ng-repeat="item in itemsCtrl.items">
              <div class="items-list" ng-class="{'active-item':$index == itemsCtrl.listtab-1}">
                <list-items></list-items>
              </div>
              <!-- Comments block -->
              <div ng-show="itemsCtrl.selectedListTab($index+1)">
                <div class="comments-to-item">
                  <h2>Comments # {{itemsCtrl.listtab}}</h2>
                  <!-- Comments list -->
                  <div class="clearfix">
                    <ul ng-repeat="comment in item.comments" class="comment">
                      <list-comment></list-comment>
                    </ul>
                  </div>
                  <!-- Adding Comments -->
                  <form name="commentForm" ng-controller="CommentController as commentCtrl" ng-submit="commentCtrl.addComment(item)" novalidate>
                    <div class="input-comment-group">
                      <div class="comment-photo">
                        <!-- <select ng-model="commentCtrl.comment.color" style="display:none">
                        </select> -->
                      </div>
                      <input ng-model="commentCtrl.comment.body" class="form-control"></input>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
  </body>
</html>
